/* style.css */
.body {
  background-color: #f8f9fa;
  padding: 20px;
}

.header-style {
  /* background-color: #ffd700; */
  font-weight: bold;
  padding: 0.9375rem;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
  color: #daa520;
  font-size: 2.5rem;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header-gold-row {
  font-weight: bold;
  font-size: 2rem;
  border-bottom: 1px solid #d9d9d9;
}

.price {
  color: #2f4f4f;
  font-size: 1.5rem;
  font-weight: bold;
}

.Gold-Text {
  color: #daa520;
  font-size: 1.2rem;
}

.row-size {
  /* margin-bottom: 10px; */
  padding: 10px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.page-footer {
  margin-bottom: 2rem;
  text-align: center;
  color: #555;

  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

.loading-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.spinner {
  margin: 20px auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 576px) {
  .header-text {
    font-size: 0.9rem; /* ลดขนาดฟอนต์ในหน้าจอเล็ก */
  }

  .row-size {
    font-size: 0.8rem; /* ลดขนาดฟอนต์ในรายละเอียด */
    margin-bottom: 0.5rem;
  }

  .price {
    font-size: 0.8rem;
  }

  .Gold-Text {
    font-size: 1rem; /* ขนาดข้อความในหน้าจอเล็ก */
  }
}

@media (min-width: 768px) {
  .header-text {
    font-size: 1.2rem;
  }

  .price {
    font-size: 1.1rem;
  }

  .Gold-Text {
    font-size: 1.2rem;
  }
}
