.body {
  padding: 1rem;
}

.header-style {
  text-align: center;
  margin-bottom: 1.25rem;
  color: #2f4f4f;
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.5rem;
  color: #555;
}

.header-gold-row {
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #daa520;
  border-bottom: 1px solid #daa520;
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.row-size {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.8rem 0;
  /* border-bottom: 1px solid #ccc; */
}

.gold-price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2f4f4f;
}

.Gold-Text {
  color: #2f4f4f;
  font-size: 1.1rem;
}

.page-footer {
  color: #555;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.loading-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #555;
}

@media (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .gold-price {
    font-size: 1rem;
  }

  .Gold-Text {
    font-size: 1rem;
  }

  .header-gold-row {
    font-size: 1rem;
  }
}
